:root {
  --tg-theme-bg-color: #efeff3;
  --tg-theme-button-color: #2eaddc;
  --tg-theme-button-text-color: white;
}

[data-tc-dropdown-container="true"] {
  max-width: 90vw;
  max-height: 50vh;
  overflow: auto;
}


.styled-app {
  position: relative;
  background-color: #e8e8e8;
  color: black;
  min-height: 100vh;
  padding: 20px 20px;
}

@media (prefers-color-scheme: dark) {
  .styled-app {
    background-color: #222;
    color: white;
  }
}

.app-container {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

.first_row {
  display: flex;
  justify-content: space-between;
}